  *{  box-sizing: border-box;
  }
 
body {
    font-family: Arial;
    padding: 10px;
    background: #f1f1f1;
  }
 



  .header {
    padding: 30px;
    text-align: center;
    background: white;
    background-image: url(/css/imagens/fundo_header-removebg-preview.png);
    position: relative;
  }
 
  .header h1 {
    font-size: 50px;
  }
   h2{
    font-family: "Sofia", sans-serif;
    color: #0511f2
  }
  
  .topnav {
    overflow: hidden;
    background-color: #0511f2;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .topnav a:hover {
    background-color: #F2F2F2;
    color: black;
  }
  
  .leftcolumn {   
    float: left;
    width: 75%;
  }

  .rightcolumn {
    float: left;
    width: 25%;
    background-color: #f1f1f1;
    
    padding-left: 20px;
  }

  .fakeimg {
    background-color: #05c7f2;
    width: 100%;
    padding: 20px;
  }

  .card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
  }
  .row::after {
    content: "";
    display: table;
    clear: both;
  }

  .footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
  }

  @media screen and (max-width: 800px) {
    .leftcolumn, .rightcolumn {   
      width: 100%;
      padding: 0;
    }
    }

    p{
      font-size: 20px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

  .logo-h  {
    float: center;
    margin-left: 0px;
   }
  .logo-r{
    float: right;
    margin-right: 40px;
  }
  .logo-l{
    float: left;
    margin-left: 100px;
  }
  